body {
	background: #f5f5f7;
	text-align: center;
	display: block;
	margin: 8px;
}

#main {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 1000px;
}

.url-color a {
	color: #f5f5f7;
	font-weight: bold;
}

#logo img,h1 {
display: flex;
align-items: center;
position: relative;
max-width: 11.25rem;
height: auto;
top: 40px;
right: 150px;
color: white;
font-size: 3rem;
	img {
		max-width: 100%;
	  }
   }
 
#logo #text:has(h1) {
	position: relative;
	top: -3rem;
	transform: translateX(2rem);
	font-family: Snell Roundhand, cursive;
  }


/* Responsive Navigation Menu Bar + dark mode - START - https://codepen.io/a7rarpress/pen/poxzgeq */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;      
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

/* Responsive Navigation Menu Bar + dark mode - END */


#header  {
	position: relative;
	top: 150px; 
   }

.join p,h1,h2,h3,h4,h5 {
	display: inline-block;
	text-align: center;
	li ne-height: 25px;
	margin: 0;
	gap: 1rem;
	marg in-block-start: 1em;
	wh ite-space: nowrap;
}


/*Pure CSS Picture Frame - Start - https://codepen.io/Brian_Gioia/pen/egabNm */
/* Frame-Photo - Start */
#frame-photo {
	position: relative;
	bottom:80px;
  }

.bg__loyout-wrapper {
	position: relative;
	t op: 0px;
	max-width: 100%;
	height: 25vh;
	backg round-color: #536dfe;
  }
  
  .bg__picture {
	max-width: 100%;
	height: 100%;
	overflow: hidden;
  }
  
  .bg__picture-wrapper {
	max-width: 100%;
	height: 100%;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 52px;
	padding-right: 52px;
	overflow: hidden;
	position: relative;
  }
  
  .bg__frame-inner-shadow-outer {
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	z-index: 9;
	position: absolute;
  }
  
  .bg__frame-inner-shadow {
	max-width: 100%;
	height: 100%;
	-webkit-box-shadow: inset 6px 8px 16px -8px #000001;
	-moz-box-shadow: inset 68px 8px 16px -8px #000001;
	box-shadow: inset 6px 8px 16px -8px #000001;
	opacity: 0.6;
  }
  
  .bg__frame-inner-shine-outer {
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	z-index: 9;
	position: absolute;
  }
  
  .bg__frame-inner-shine {
	max-width: 100%;
	height: 100%;
	-webkit-box-shadow: inset -48px -8px 58px -14px #212121;
	-moz-box-shadow: inset -4px -8px 58px -14px #212121;
	box-shadow: inset -4px -8px 58px -14px #212121;
	opacity: 0.4;
  }
  
  .bg__frame-inner-photo-shadow-outer {
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 52px;
	padding-right: 52px;
	z-index: 9;
	position: absolute;
  }
  
  .bg__frame-inner-photo-shadow {
	max-width: 100%;
	height: 100%;
	-webkit-box-shadow: inset -2px 1px 12px -1px #212121;
	-moz-box-shadow: inset -2px -1px 12px -1px #212121;
	box-shadow: inset -2px -1px 12px -1px #212121;
	opacity: 0.2;
  }
  
  .bg__frame {
	background-color: #eceff1;
	height: 500px;
	width: 727px;
	margin: -170px -270px;
	position: absolute;
	left: 40.3%;
	top: 0%;
	border: 1px solid;
	border-color: rgba(33, 33, 33, 0.9) rgba(33, 33, 33, 0.9);
	box-shadow: 3px 6px 10px -2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #212121, inset 1px 0 0 #232323, inset 0 -1px 0 #212121, inset -1px 0 0 #232323, inset 0 2px 0 #242425, inset 2px 0 0 #262728, inset 0 -2px 0 #242425, inset -2px 0 0 #262728, inset 0 3px 0 #26272a, inset 3px 0 0 #24252c, inset 0 -3px 0 #26272a, inset -3px 0 0 #24252c, inset 0 4px 0 #292a2e, inset 4px 0 0 #2e2e31, inset 0 -4px 0 #292a2e, inset -4px 0 0 #2e2e31, inset 0 5px 0 #2b2c33, inset 5px 0 0 #313235, inset 0 -5px 0 #2b2c33, inset -5px 0 0 #313235, inset 0 6px 0 #2e2f37, inset 6px 0 0 #353539, inset 0 -6px 0 #2e2f37, inset -6px 0 0 #353539, inset 0 7px 0 #30323c, inset 7px 0 0 #38393e, inset 0 -7px 0 #30323c, inset -7px 0 0 #38393e, inset 0 8px 0 #333540, inset 8px 0 0 #3c3d42, inset 0 -8px 0 #333540, inset -8px 0 0 #3c3d42, inset 0 9px 0 #353844, inset 9px 0 0 #3f4147, inset 0 -9px 0 #353844, inset -9px 0 0 #3f4147, inset 0 10px 0 #383b49, inset 10px 0 0 #43444b, inset 0 -10px 0 #383b49, inset -10px 0 0 #43444b, inset 0 11px 0 #3a3d4d, inset 11px 0 0 #474850, inset 0 -11px 0 #3a3d4d, inset -11px 0 0 #474850, inset 0 12px 0 #3d4052, inset 12px 0 0 #4a4c54, inset 0 -12px 0 #3d4052, inset -12px 0 0 #4a4c54, inset 0 13px 0 #3f4356, inset 13px 0 0 #4a4c54, inset 0 -13px 0 #3f4356, inset -13px 0 0 #4a4c54, inset 0 14px 0 #3d4052, inset 14px 0 0 #474850, inset 0 -14px 0 #3d4052, inset -14px 0 0 #474850, inset 0 15px 0 #3a3d4d, inset 15px 0 0 #43444b, inset 0 -15px 0 #3a3d4d, inset -15px 0 0 #43444b, inset 0 16px 0 #383b49, inset 16px 0 0 #3f4147, inset 0 -16px 0 #383b49, inset -16px 0 0 #3f4147;
  }

  /* Photo-Glow Effect - Start | https://dev.to/ajones_codes/css-smart-image-glow-1deg */
#gl ow {
  filter: drop-shadow(0 0 0.75rem rgb(10, 10, 10));
  background-repeat: no-repeat;
  background-image: url("/mask.png");
   /* This line: backdrop-filter: blur(15px) saturate(3);
   1. blurs the background so we can see it around the 
         image as "glow"
   2. increases the background saturation so we get colors 
         back after the shadow effect dulls them out
  */
  backdrop-filter: blur(15px) saturate(3);
   ...
  /* These lines prevent the border box from clipping the blur 
     effect */
  pad ding: 20px;
  mar gin: -20px;
}
  /* Photo-Glow Effect - End | https://dev.to/ajones_codes/css-smart-image-glow-1deg */
  
  /* Frame-Photo - End */
/*Pure CSS Picture Frame - End */

/*--- <div id="contacts"> | Start ---*/  
@media only screen and (max-width: 480px) {
	#pedro img {
		width: 110%;
	}
}

#contacts p {
	text-align: center;
	line-height: 0px;
	color: #fff;
}

@media only screen and (max-width: 480px) {
    #contacts h2 {
            font-size: 24px!important;
        }
    }

#contacts h3,h4 {
	text-align: center;
	line-height: 0px;
	co lor: rgba(61, 61, 90, 0.616);
	color: #fff;
	font-size: 30px;
	font-weight: 900;
}
/* - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
#contacts h3,h4 {
		font-size: 16px!important;
	}
}

#contacts h4 {
	text-align: center;
	co lor: rgba(61, 61, 90, 0.616);
	color: #fff;
	font-size: 20px;
	font-weight: 900;
}
/*pt1 - Desktop*/
#pt1 h2,h3 {
	display: inline-block;
	text-align: center;
	font-size: 30px;
	box-sha dow: 3px 6px 10px -2px rgba(0, 0, 0, 0.3);
}
/*pt1 - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
	#pt1 h3,h2 {
		font-size: 20px;
	}
}
/*pt2 - Desktop*/
.pt2 h2,h3 {
	display: inline-block;
	text-align: center;
	font-size: 30px;
	box-shadow: 3px 6px 10px -2px rgba(0, 0, 0, 0.3);
}
/*pt2 - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
	.pt2 h3,h2 {
		font-size: 20px;
	}
}

#services p,h2,h4 {
	display: inline-block;
	text-align: center;
	posi tion: relative;
	t op: 6px;
	color: white;
}

@media only screen and (max-width: 480px) {
	#services img {
		text-align: center;
		width: 25rem;
	}
}

/*phone - Desktop*/
#reach-us h2,h3 {
}
/*phone - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
	#reach-us h3,h2 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 480px) {
    #teams i { 
            font-size: 40px !important;
        }
    }
@media only screen and (max-width: 480px) {
    #teams span {
            font-size: 15px !important;
        }
    }

/* Teams Icon Color Filter - Start */
#filter-teams{
	filter: invert(98%) sepia(17%) saturate(1163%) hue-rotate(192deg) brightness(114%) contrast(95%);
		}
/* Teams Icon Color Filter - End */

.join p {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;
}

.join h1 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;
}

.join h2 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;
}

.join h3 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 60px;
}

.join h4 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 60px;
}

.join.section.element h3, h4, p, {
	display: inline-block;
	text-align: right;
	color: grey;
	font-size: 60px;
}
/*--- <div id="contacts"> | End --- */


/* As a Developer - START */
.align-horizontally {
font-family: Snell Roundhand, cursive;
        font-size: 14px;
        line-height: 28px;
	color:white;

   -moz-font-family: "Times New Roman", Times, serif; /* Firefox */


/* CSS Align Paragraphs Horizontally - https://stackoverflow.com/questions/22617157/css-align-paragraphs-horizontally */	 
 -webkit-column-count:3; /* Chrome, Safari, Opera */
   -moz-column-count:3; /* Firefox */
   column-count:3;
   -webkit-column-gap:40px; /* Chrome, Safari, Opera */
   -moz-column-gap:40px; /* Firefox */
   column-gap:40px;   


#filter-plus-sign {
	filter: invert(82%) sepia(59%) saturate(2%) hue-rotate(285deg) brightness(114%) contrast(101%);
	font-size: 2rem;
}
}
/* As a Developer - END */


/* About Pedro - START */
#about-pedro {
font-family: Snell Roundhand, cursive;
        font-size: 14px;
        line-height: 28px;
	color:white;

}
/* About Pedro - END */


/*--- stack-header | Start ---*/
.stack-header h3 {
	color: #fff;
	font-size: 45px;
}

@media only screen and (max-width: 480px) {
	.stack-header h3 {
		font-size: 35px;
	}
}
/*--- stack-header | End ---*/


/*--- other-tech - START ---*/

#other-tech h5 {
	margin-left: 10px;
	}

/*--- other-tech - END ---*/


/*--- Languages - START ---*/

.join_languages h3 {
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 2rem;
}

#languages h5 {
color: white;
font-size: 2.1rem;
}
/*--- Languages - END ---*/


/*--- Profile - START */
#profile {
	position: relative;
	bottom: 25px;
}

@media only screen and (max-width: 480px) { 

.mobile-break { 
	content: "\a";
	display: none;
    display: block;
    display: inline-block;
    white-space: pre-line; /* collapse WS, preserve LB */
	white-space: pre;
    font-size: 15px !important;
        }
    }
/*--- Profile - END */


/*--- Portfolio | START ---*/
sec tion-portfolio {
    di splay: block;
    display: inline-block;

    height:26rem;
    height: 500px; /* Set the height of the element */
    width: 100%;
    pad ding: 0 7%;
    margin: 0;
    max-width: 100%;
    background-image: url('images/wp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 25% 50%;
    height: 100vh;
  }


#mai n-portfolio{
    di splay: block;
    display: inline-block;
    he ight:26rem;
    height: 500px; /* Set the height of the element */
    width: 50%;
    padding: 0 7%;
    margin: 0;
    max-width: 100%;
    background-image: url('images/wp.png');
    background-repeat: no-repeat;
    backgr ound-size: cover;
    background-size: 25% 50%;
    height: 100vh;
}

.portfolio-join p {
	display: inline-block;
	text-align: center;
	color: #01b3f7;
	font-size: 50px;
}

#portfolio-row1, #portfolio-row2 {
	display: flex;
	justify-content: space-between;
 /* Optional: Adds space between blocks */
 	width: 50rem;
	text-align: left;
}

.block {
	flex: 1;
 /* Allows blocks to grow and shrink equally */
	border: 1px solid #ECEDE8;
	margin: 10px 10px;
	overflow: hidden;
	height: 9rem;
	block-size: 10rem;
 /* Sets the width of the element in a vertical writing mode */
	writing-mode: vertical-lr;
 /* Example writing mode */;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/*--- Portfolio | END ---*/  


/*--- Linux CLI | START ---*/ 
sec tion-linux {
    di splay: block;
    display: inline-block;
    he ight:26rem;
    height: 500px; /* Set the height of the element */
    width: 50%;
    padding: 0 7%;
    margin: 0;
    max-width: 100%;
    backgr ound-image: url('images/yellow.png');
    background-repeat: no-repeat;
    back ground-size: cover;
    background-size: 100% 1000px;
    height: 100vh;
  }

  p re, input {
    --tw-text-opacity: 1;
  color: rgba(110,231,183,var(--tw-text-opacity));
    font-size: .875rem;
  line-height: 1.25rem;
white-space: nowrap;
}

#ter minal > div.flex.items-center > input {
 color: white;
  font-size: .875rem;
  line-height: 1.25rem;
}

p re {
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/*--- Linux CLI | END ---*/


/*--- WORK | START ---*/


/* Crane Animation - END */

/* Crane Animation - END */


/*--- WORK | END ---*/


/*--- REPOS | START ---*/
.|-color p{
color:white;

}
/*--- REPOS | END ---*/


/* Hobby Section - START */
/* Hobbies Img Color Filter - Start */
#fil ter-hobbies{
	filter: invert(68%) sepia(64%) saturate(724%) hue-rotate(5deg) brightness(113%) contrast(104%);
		}
/* Hobbies Img Color Filter - End */

/*Pure CSS Picture Frame - Start - https://codepen.io/Brian_Gioia/pen/egabNm */
/* Frame-Guitar - Start */
#frame-guitar {
	position: relative;
	top: 130px;
  }

.bg__loyout-wrapper {
	position: relative;
	t op: 0px;
	max-width: 100%;
	height: 25vh;
	backg round-color: #536dfe;
  }
  
  .bg__picture {
	max-width: 100%;
	height: 100%;
	overflow: hidden;
  }
  
  .bg__picture-wrapper {
	max-width: 100%;
	height: 100%;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 52px;
	padding-right: 52px;
	overflow: hidden;
	position: relative;
  }
  
  .bg__frame-inner-shadow-outer {
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	z-index: 9;
	position: absolute;
  }
  
  .bg__frame-inner-shadow {
	max-width: 100%;
	height: 100%;
	-webkit-box-shadow: inset 6px 8px 16px -8px #000001;
	-moz-box-shadow: inset 68px 8px 16px -8px #000001;
	box-shadow: inset 6px 8px 16px -8px #000001;
	opacity: 0.6;
  }
  
  .bg__frame-inner-shine-outer {
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	z-index: 9;
	position: absolute;
  }
  
  .bg__frame-inner-shine {
	max-width: 100%;
	height: 100%;
	-webkit-box-shadow: inset -48px -8px 58px -14px #212121;
	-moz-box-shadow: inset -4px -8px 58px -14px #212121;
	box-shadow: inset -4px -8px 58px -14px #212121;
	opacity: 0.4;
  }
  
  .bg__frame-inner-photo-shadow-outer {
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 52px;
	padding-right: 52px;
	z-index: 9;
	position: absolute;
  }
  
  .bg__frame-inner-photo-shadow {
	max-width: 100%;
	height: 100%;
	-webkit-box-shadow: inset -2px 1px 12px -1px #212121;
	-moz-box-shadow: inset -2px -1px 12px -1px #212121;
	box-shadow: inset -2px -1px 12px -1px #212121;
	opacity: 0.2;
  }
  
  .bg__frame_guitar {
	background-color: #1B1B25;
	height: 500px;
	width: 727px;
	margin: -170px -270px;
	position: absolute;
	left: 40.3%;
	top: 0%;
	border: 1px solid;
	border-color: rgba(33, 33, 33, 0.9) rgba(33, 33, 33, 0.9);
	box-shadow: 3px 6px 10px -2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #212121, inset 1px 0 0 #232323, inset 0 -1px 0 #212121, inset -1px 0 0 #232323, inset 0 2px 0 #242425, inset 2px 0 0 #262728, inset 0 -2px 0 #242425, inset -2px 0 0 #262728, inset 0 3px 0 #26272a, inset 3px 0 0 #24252c, inset 0 -3px 0 #26272a, inset -3px 0 0 #24252c, inset 0 4px 0 #292a2e, inset 4px 0 0 #2e2e31, inset 0 -4px 0 #292a2e, inset -4px 0 0 #2e2e31, inset 0 5px 0 #2b2c33, inset 5px 0 0 #313235, inset 0 -5px 0 #2b2c33, inset -5px 0 0 #313235, inset 0 6px 0 #2e2f37, inset 6px 0 0 #353539, inset 0 -6px 0 #2e2f37, inset -6px 0 0 #353539, inset 0 7px 0 #30323c, inset 7px 0 0 #38393e, inset 0 -7px 0 #30323c, inset -7px 0 0 #38393e, inset 0 8px 0 #333540, inset 8px 0 0 #3c3d42, inset 0 -8px 0 #333540, inset -8px 0 0 #3c3d42, inset 0 9px 0 #353844, inset 9px 0 0 #3f4147, inset 0 -9px 0 #353844, inset -9px 0 0 #3f4147, inset 0 10px 0 #383b49, inset 10px 0 0 #43444b, inset 0 -10px 0 #383b49, inset -10px 0 0 #43444b, inset 0 11px 0 #3a3d4d, inset 11px 0 0 #474850, inset 0 -11px 0 #3a3d4d, inset -11px 0 0 #474850, inset 0 12px 0 #3d4052, inset 12px 0 0 #4a4c54, inset 0 -12px 0 #3d4052, inset -12px 0 0 #4a4c54, inset 0 13px 0 #3f4356, inset 13px 0 0 #4a4c54, inset 0 -13px 0 #3f4356, inset -13px 0 0 #4a4c54, inset 0 14px 0 #3d4052, inset 14px 0 0 #474850, inset 0 -14px 0 #3d4052, inset -14px 0 0 #474850, inset 0 15px 0 #3a3d4d, inset 15px 0 0 #43444b, inset 0 -15px 0 #3a3d4d, inset -15px 0 0 #43444b, inset 0 16px 0 #383b49, inset 16px 0 0 #3f4147, inset 0 -16px 0 #383b49, inset -16px 0 0 #3f4147;
  }
  /* Frame-Guitar - End */
/*Pure CSS Picture Frame - End */

#hobbies img {
	height:10%;
	width: 10%;
 }


/* Hobby Section - END */


/*--- <div id="solutions-array"> | Start ---*/
#secure-solutions h3 {
	color: #fff;
	font-size: 25px;
}

@media only screen and (max-width: 480px) {
	#secure-solutions img {
		width: 15%;
		font-size: 0px;
	}
}


/*phone & desktop*/
#solutions-array h3 {
	color: #fef90a;
	font-size: 30px;
}

#solutions-array p {
	color: #fff;
	font-size: 20px;
}
/*phone - smartphones, iPhone, portrait 480x320 phones*/

@media only screen and (max-width: 480px) {
	#solutions-array h3 {
		dis play: inline-block;
		white-space: pre-line;
		text-align: center;
		color: #fef90a;
		font-size: 20px;
	}
}

@media only screen and (max-width: 480px) {
	#solutions-array p {
		color: #fff;
		font-size: 20px;
	}
}

@media only screen and (max-width: 480px) {
	#domain img {
		width: 100%;
		font-size: 0px;
	}
}

/*--- <div id="solutions-array"> | End ---*/

.section-paragraphs p {
	color: #fff;
	font-size: 20px;
}

h3 {
	text-align: center;
	color: rgba(61, 61, 90, 0.616);
	font-size: 100px;
	font-weight: 900;
}

.center {
	text-align: center;
}

hr {
	height: 2px;
	border-width: 0;
	color: gray;
	background-color: gray;
}

hr ::after {
}

.custom-hr {
	height: 2px;
	border-width: 0;
	color: gray;
	background-color: gray;
	width: 50%;
	text-align: left;
	margin-left: 0;
}