body {
	background: #1B1B25;
	text-align: center;
	display: block;
	margin: 8px;
}

#main {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 1000px;
}


/*--- <div id="contacts"> | Start ---*/  

@media only screen and (max-width: 480px) {
	#pedro img {
		width: 110%;
	}
}

#contacts p {
	text-align: center;
	line-height: 0px;
	color: #fff;
}

@media only screen and (max-width: 480px) {
    #contacts h2 {
            font-size: 24px!important;
        }
    }

#contacts h3,h4 {
	text-align: center;
	line-height: 0px;
	co lor: rgba(61, 61, 90, 0.616);
	color: #fff;
	font-size: 30px;
	font-weight: 900;
}
/* - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
#contacts h3,h4 {
		font-size: 16px!important;
	}
}

#contacts h4 {
	text-align: center;
	co lor: rgba(61, 61, 90, 0.616);
	color: #fff;
	font-size: 20px;
	font-weight: 900;
}
/*pt - Desktop*/
#pt h2,h3 {
	display: inline-block;
	text-align: center;
	font-size: 30px;
}
/*pt - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
	#pt h3,h2 {
		font-size: 20px;
	}
}

#self-employed p,h2,h4 {
	display: inline-block;
	text-align: center;
	posi tion: relative;
	t op: 6px;
}

@media only screen and (max-width: 480px) {
	#self-employed img {
		text-align: center;
		width: 25rem;
	}
}

/*phone - Desktop*/
#phone h2,h3 {
}
/*phone - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
	#phone h3,h2 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 480px) {
    #teams i { 
            font-size: 40px !important;
        }
    }
@media only screen and (max-width: 480px) {
    #teams span {
            font-size: 15px !important;
        }
    }
@media only screen and (max-width: 480px) {
		.filter-blue{
			filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
		}
	}








.join p {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;
}

.join h1 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;
}

.join h2 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;
}

.join h3 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 60px;
}

.join h4 {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 60px;
}
/*--- <div id="contacts"> | End --- */

/*--- Connect - START */

#solutions-main {
	position: relative;
	bottom: 25px;
}
@media only screen and (max-width: 480px) { 
.mobile-break { 



	content: "\a";

	display: none;
    display: block;
    display: inline-block;
    white-space: pre-line; /* collapse WS, preserve LB */
	white-space: pre;
    font-size: 15px !important;
        }
    }

/*--- Connect - END */


/*--- Portfolio | START ---*/









sec tion-portfolio {
    di splay: block;
    display: inline-block;

    height:26rem;
    height: 500px; /* Set the height of the element */
    width: 100%;
    pad ding: 0 7%;
    margin: 0;
    max-width: 100%;
    background-image: url('images/wp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 25% 50%;
    height: 100vh;
  }


#mai n-portfolio{
    di splay: block;
    display: inline-block;
    he ight:26rem;
    height: 500px; /* Set the height of the element */
    width: 50%;
    padding: 0 7%;
    margin: 0;
    max-width: 100%;
    background-image: url('images/wp.png');
    background-repeat: no-repeat;
    backgr ound-size: cover;
    background-size: 25% 50%;
    height: 100vh;
}




.portfolio-join p {
	display: inline-block;
	text-align: center;
	color: #01b3f7;
	font-size: 50px;
}

#portfolio-row1, #portfolio-row2 {
	display: flex;
	justify-content: space-between;
 /* Optional: Adds space between blocks */
	text-align: left;
}

.block {
	flex: 1;
 /* Allows blocks to grow and shrink equally */
	border: 1px solid #ECEDE8;
	margin: 10px 10px;
	overflow: hidden;
	height: 265px;
	width: 265px;
	blo ck-size: 500px;
 /* Sets the width of the element in a vertical writing mode */
	writi ng-mode: vertical-lr;
 /* Example writing mode */;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/*--- Portfolio | END ---*/  










/*--- Linux CLI | START ---*/ 
sec tion-linux {
    di splay: block;
    display: inline-block;
    he ight:26rem;
    height: 500px; /* Set the height of the element */
    width: 50%;
    padding: 0 7%;
    margin: 0;
    max-width: 100%;
    backgr ound-image: url('images/yellow.png');
    background-repeat: no-repeat;
    back ground-size: cover;
    background-size: 100% 1000px;
    height: 100vh;
  }


  p re, input {
    --tw-text-opacity: 1;
  color: rgba(110,231,183,var(--tw-text-opacity));
    font-size: .875rem;
  line-height: 1.25rem;
white-space: nowrap;
}

#ter minal > div.flex.items-center > input {
 color: white;
  font-size: .875rem;
  line-height: 1.25rem;
}


p re {
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/*--- Linux CLI | END ---*/


/*--- Portfolio | START ---*/
/* stack-header | Start */
.stack-header h3 {
	color: #c0c0c0;
	font-size: 48px;
}

@media only screen and (max-width: 480px) {
	.stack-header h3 {
		font-size: 35px;
	}
}
/* stack-header | End */

.work-urls a {
	color: #01b3f7;
	font-weight: bold;
}

/*--- <div id="solutions-array"> | Start ---*/
#secure-solutions h3 {
	color: #fff;
	font-size: 25px;
}

@media only screen and (max-width: 480px) {
	#secure-solutions img {
		width: 15%;
		font-size: 0px;
	}
}


/*phone & desktop*/
#solutions-array h3 {
	color: #fef90a;
	font-size: 30px;
}

#solutions-array p {
	color: #fff;
	font-size: 20px;
}
/*phone - smartphones, iPhone, portrait 480x320 phones*/













@media only screen and (max-width: 480px) {
	#solutions-array h3 {
		dis play: inline-block;
		white-space: pre-line;
		text-align: center;
		color: #fef90a;
		font-size: 20px;
	}
}

@media only screen and (max-width: 480px) {
	#solutions-array p {
		color: #fff;
		font-size: 20px;
	}
}

@media only screen and (max-width: 480px) {
	#domain img {
		width: 100%;
		font-size: 0px;
	}
}

/*--- <div id="solutions-array"> | End ---*/

.section-paragraphs p {
	color: #fff;
	font-size: 20px;
}

h3 {
	text-align: center;
	color: rgba(61, 61, 90, 0.616);
	font-size: 100px;
	font-weight: 900;
}

.center {
	text-align: center;
}

hr {
	height: 2px;
	border-width: 0;
	color: gray;
	background-color: gray;
}

hr ::after {
}

.custom-hr {
	height: 2px;
	border-width: 0;
	color: gray;
	background-color: gray;
	width: 50%;
	text-align: left;
	margin-left: 0;
}